<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visu Portfolio</title>
    <link rel="stylesheet" href="stats/css/Visu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="stats/images/icon_v.png">
</head>
<body>
  <nav class="fixed-top dropdown-menu navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="#" style="color: blue;">Visu S</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-3 ms-auto ">
          <li class="nav-item p-4">
            <a class="nav-link " href="#portfolio" style="color: blue;">Portfolio</a>
          </li>
          <li class="nav-item p-4">
            <a class="nav-link" href="#services" style="color: blue;">Services</a>
          </li>
          <li class="nav-item p-4">
            <a class="nav-link" href="#about" style="color: blue;">About</a>
          </li>
          <li class="nav-item p-4">
            <a class="nav-link" href="#contact" style="color: blue;">Say Hi!</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h4 id="#" ></h4>
        <div class="bg_de">
          <h3 id="pos_name">Hi, I'm Visu S <br> A Python Developer</h3>
        </div>
        <h4 style="morgin-top:50px" id="portfolio"></h4>
          <div class="container clpa">
            <h2 class="title">Portfolio</h2>
            <p class="title">Check it out!</p>
          </div>
          <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                      <img src="stats/images/da.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="fas servicesIcon fa-clock"></i>
                            <p class="card-text mt-3">DataScience
                            </p>
                        </div>
                    </div>  
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                      <img src="stats/images/download.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-layer-group'></i>
                            <p class="card-text mt-3">Django
                                <p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                      <img src="stats/images/d.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class='far servicesIcon fa-check-circle'></i>
                            <p class="card-text mt-3">Html, Css, Javascript, React, Angular
                            </p>
                        </div>
                    </div>  
                </div>
            </div>


            </div>
        </div>

        <h4 style="morgin-top:50px" id="services"></h4>
          <div class="container clpa">
            <h2 class="title" >Services</h2>
          </div>
          <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                          <img src="stats/images/the.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <i class="fas servicesIcon fa-clock"></i>
                                <h4 class="card-title mt-3">Website Development</h4>
                                <p class="card-text mt-3">Html, Css, Javascript, React, Angular, Django, Sqlite, Firebase, MySql
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                          <img src="stats/images/th.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <i class='fas servicesIcon fa-layer-group'></i>
                                <h4 class="card-title mt-3">App Development</h4>
                                <p class="card-text mt-3">Python, Kivy, Firebase
                                    <p>
                            </div>
                        </div>  
                    </div>
    
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                          <img src="stats/images/t.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <i class='far servicesIcon fa-check-circle'></i>
                                <h4 class="card-title mt-3">Robotics</h4>
                                <p class="card-text mt-3">Ardiuno and RaspberryPi
                                </p>
                            </div>
                        </div>  
                    </div>
                </div>
    

                </div>
            </div>
        </section>
        <div style="morgin-top:50px">
        <h4  id="about"></h4>
        </div>
          <div class="container clpa">
            <h2 class="title">About</h2>
          </div>
          <div class="container">
            <div class="container mt-4 pt-4">
              <div class="row mt-4">
                  <div class="col-lg-4 backing">
                      <img src="stats/images/my_photo.jpg" class= "imageAboutPage" alt="">
                      <h4></h4>
                  </div>
  
                  <div class="col-lg-8">
                      <div class="row mt-3">
                          <div class="col-md-6">
                             <h5>Visu S</h5>
                             <h5>20 Years Old</h5>
                             <h5>A Python Developer</h5>
                          </div>
                          <div class="col-md-6">
                              <ul>
                                  
  
                              </ul>
                          </div>
                      </div>
                      <div class="row mt-3">
                          <p> To master the fundamentals of Python syntax, data structures, and control flow.
                            To learn how to use popular Python libraries and frameworks, such as Django, Flask, NumPy, Pandas, and TensorFlow.
                            To develop and deploy scalable and secure web applications using Python and cloud services.
                            To perform data collection, manipulation, visualization, and analysis using Python tools and techniques.
                            To automate tasks and processes using Python scripts and modules.
                            To write clean, readable, and maintainable Python code that follows the best practices and standards.
                            To test, debug, and optimize Python code using various tools and methods.
                            To collaborate with other developers and stakeholders using version control, code review, and agile methodologies.To master the fundamentals of Python syntax, data structures, and control flow.

                          </p>
                          <h6>Hobbies</h6>
                          <ul>
                            <li>Listening Music</li>
                            <li>Learn Machine Learning</li>
                            <li>Learn Robotics</li>
                            <li>Learn Science</li>
                          </ul>
                      </div>
                      
                  </div>
              </div>
          </div>

        <h4 id="contact"></h4>
          <div class="container clpa">
            <h2 class="title">Connect</h2>
          </div>
          <div class="row con_de">
            <div class="col-lg-4 con_det ">
              <div class="">
                <h1>Let’s connect!</h1>
                <p>I’d love to hear from you; whether you want to learn more about my services, want to collaborate on a project, or simply just want to say hello.</p>
                <p>You can fill out the form on the left or get in touch with me at <a href="mailto:visu@visha.xyz?Subject=Hello%20Visu" target="_top">visu@visha.xyz</a>.</p>
              </div>
            </div>
            <div class="col-lg-4 con_fo me-3 ms-auto">
              {{form}}
              
              <form id="con_for" method="post">
              <div class="mb-2">
                {% csrf_token %}
                <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                <input id="name" name="name" type="text" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Your Email</label>
                <input id="mail" name="contactmail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-2">
                <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                <input id="message" name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
              </div>
              <button id="send_mess" type="submit" value="Connect with Visu" style="text-align: center;">
                Connect with Visu
              </button>
            </form>
              </div>
          
        </div>


      </div>
      <footer>
        <div class="row"> 
        <div class="col-6">
          <h5 style="margin-left:10px;">&copy; 2023 Visu S</h5>
        </div>
        <div class="col-6">
          <a href="mailto:visu@visha.xyz?Subject=Hello%20Visu" target="_top"><p>Send me an email</p></a>
          <a href=""><i class="fa-user-plus" ></i></a>
        </div>
      </div>
        
      </footer>
      
    
</body>
</html>